<form [formGroup]="sinistreForm">
  <div class="section_user">
    <mat-form-field class="user_fields">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="first_name" readonly />
    </mat-form-field>
    <mat-form-field class="user_fields">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="last_name" readonly />
    </mat-form-field>
    <mat-form-field class="user_fields">
      <mat-label>Numéro de Contrat</mat-label>
      <input matInput formControlName="contract_number" readonly />
    </mat-form-field>
    <mat-form-field class="user_fields">
      <mat-label>id user</mat-label>
      <input matInput formControlName="iduser" readonly />
    </mat-form-field>
  </div>

  <div class="section_address">
    <mat-form-field class="user_fields">
      <mat-label>Rue</mat-label>
      <input matInput formControlName="street" readonly />
    </mat-form-field>
    <mat-form-field class="user_fields">
      <mat-label>Code Postal</mat-label>
      <input matInput formControlName="zipcode" readonly />
    </mat-form-field>
    <mat-form-field class="user_fields">
      <mat-label>Ville</mat-label>
      <input matInput formControlName="city" readonly />
    </mat-form-field>
  </div>

  <div class="section_description">
    <mat-form-field>
      <textarea
        matInput
        name="Description"
        cols="200"
        rows="8"
        placeholder="Décrivez les circonstances de l'accident"
        formControlName="description"
        required
      ></textarea>
    </mat-form-field>
  </div>

  <input
    type="file"
    class="file-input"
    (change)="onFileSelected($event)"
    #fileUpload
    multiple
  />

  <div class="file-upload">
    {{ fileName || "Aucun fichier Sélectionné." }}

    <button
      mat-mini-fab
      color="primary"
      class="upload-btn"
      (click)="fileUpload.click()"
    >
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
  <button mat-raised-button color="primary" (click)="save()" >Envoyer</button>
</form>
<!-- {{ sinistreForm.value | json }} -->
