.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

.slide_img{
    display: flex;
    gap:20px;
    overflow-x: auto;
}

.slide_img img{
    width: 180px;
}

mat-card {
    padding:10px;
    /* background-color: red; */
    /* min-width: 1700px; */
    width: 95%;
    min-height: 150px;
    margin: 10px;
    display: flex;
    gap: 10px;
    box-shadow: 5px 5px 5px rgb(43, 137, 226);
  }

  mat-card-content{
    display: flex;
    gap: 30px;
}