.container{

display: flex;
flex-direction: column;

}

.rechercheville{
  display:none;
}

table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 12px;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 20px;
    width: 300px;
  }
  tr:hover{
    background-color: #9b78d6;
  }
  
  th {
    background-color: #673AB7;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
  }
  
  td {
    text-align: center;
  }
  
  @media screen and (max-width: 900px) {

    th,td {
      font-size: 12px;
    }

    }