<div class="container">
<div class="rechercheville">
  <input matInput type="text" [(ngModel)]="value">
  <button mat-button #test color="primary" id="test1" (click)="buttonclick(test)">Recherche</button>
</div>

  <table>
    <caption></caption>
    <thead>
      <tr>
        <th>Entreprise</th>
        <th>Téléphone</th>
        <th>Adresse</th>
        <th *ngIf="showCell">Latitude</th>
        <th *ngIf="showCell">Longitude</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of datas" (click)="handleClick(item)">
        <td>{{ item["poi"]["name"] }}</td>
        <td>{{ item["poi"]["phone"] }}</td>
        <td>{{ item["address"]["freeformAddress"] }}</td>
        <td *ngIf="showCell">{{ item["position"]["lat"] }}</td>
        <td *ngIf="showCell">{{ item["position"]["lon"] }}</td>
      </tr>
    </tbody>
  </table>
</div>
