<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Acceuil</a>
      <a mat-list-item routerLink="/POI">Recherche Garage et Dépanneuse</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="header">
        <span>{{ title }}</span>
        <p>Nous vous assurons 24/24</p>
        <button
        routerLink="/CONNEXION"
        mat-raised-button
        color="primary"
        type="submit"
        class="contact-submit"
      >
        Connexion
      </button>

        <img
          class="logo"
          src="https://static.latribune.fr/1921791/comment-bien-choisir-son-assurance.jpg"
          alt="logo"
        />
      </div>
    </mat-toolbar>
    <div class="main__container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
