*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
background-color:cadetblue;
border-radius: 5px;
min-height: 900px;
width: 95%;
margin:5px auto;
display: flex;
justify-content: center;
align-items: center;
gap:20px;
position: relative;
}

.container__map{
    padding: 5px;
    min-height: 500px;
    height:100%;
    width: 45%;
}

.container__resultat{
    padding: 5px;
    width: 45%;
    display: flex;
    justify-content:center;
}

.app-map {
    position: absolute; /* Position absolue pour pouvoir utiliser top, right, bottom, left */
    width: 100%; /* 100% de largeur */
    height: 100%; /* 100% de hauteur */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
.app-resultpoi {
    position: absolute; /* Position absolue pour pouvoir utiliser top, right, bottom, left */
    width: 100%; /* 100% de largeur */
    height: 100%; /* 100% de hauteur */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }





@media screen and (max-width: 900px) {

    .container{

        flex-direction: column; 
        justify-content:flex-start;
        align-items: center;
    }
    .container__map{
         width: 90%;
    }
    .container__resultat{
        width: 90%;
    }

}