<div class="container">
  <div class="sub__container container_presentation">
    <p>
      Bienvenue chez notre entreprise d'assurance, forte de 20 ans d'expérience
      dans le domaine de la protection des biens et des personnes. Nous sommes
      fiers d'être votre partenaire de confiance pour vous offrir une
      tranquillité d'esprit 24 heures sur 24. Nous comprenons les risques que
      vous prenez chaque jour, et nous nous engageons à vous protéger contre
      tout événement imprévu. Notre équipe d'experts en assurance est à votre
      disposition pour vous aider à trouver la meilleure couverture adaptée à
      vos besoins. Nous offrons une large gamme de produits d'assurance pour
      vous protéger, que ce soit pour votre maison, votre entreprise ou votre
      véhicule. Contactez-nous dès aujourd'hui pour découvrir comment nous
      pouvons vous aider à protéger ce qui compte le plus pour vous.
    </p>
    <div class="photo_assurance">
      <img src="../../assets/assur1.jpg" alt="image" />
      <img src="../../assets/assur2.jpg" alt="image" />
      <img src="../../assets/assur3.avif" alt="image" />
    </div>
  </div>
  <div class="sub__container container_form">
    <app-contact></app-contact>
  </div>
</div>
